
#### There are four collection data types in the Python programming language:

List - is a collection which is ordered and changeable. Allows duplicate members.


Tuple - is a collection which is ordered and unchangeable. Allows duplicate members.


Set - is a collection which is unordered and unindexed. No duplicate members.


Dictionary - is a collection which is unordered, changeable and indexed. No duplicate members.

In [17]:
lst = [1,2,3,4,5,"shishir", True]
lst

[1, 2, 3, 4, 5, 'shishir', True]

### Tuple

In [18]:
type(lst)

list

In [40]:
tup =(1,2,3,4,5, "shi")
tup

(1, 2, 3, 4, 5, 'shi')

In [19]:
type(tup)

tuple

In [17]:
tup[0]

1

In [23]:
tup.index(3)

2

index of first occurrence

In [22]:
tup[0] = 1

TypeError: 'tuple' object does not support item assignment

tuple is immutable no append no extend no insert

In [24]:
a = list(tup)

In [25]:
a

[1, 2, 3, 4, 5]

now we can manipulate

In [26]:
for i in tup:
    print(i)

1
2
3
4
5

tup is iterable

### Sets

In [41]:
st = {1,2,3,3,3,3,3,3,4,5,6,"shi"}
st

{1, 2, 3, 4, 5, 6, 'shi'}

In [42]:
type(s)

set

set is iterable but index operation is not possible like set[0]

In [43]:
set(1)

TypeError: 'int' object is not iterable

'int' object is not iterable

In [44]:
set("shishir")

{'h', 'i', 'r', 's'}

In [50]:
s = set([1,2,23,34,45,5,6,7,7,88,8,8,8,8,8,8])
s

{1, 2, 5, 6, 7, 8, 23, 34, 45, 88}

unique elements

In [51]:
for i in s:
    print(i)

1
2
34
5
6
7
8
45
23
88

set is iterable

In [52]:
s[0] = 123

TypeError: 'set' object does not support item assignment

'set' object does not support item assignment

In [53]:
s[0]

TypeError: 'set' object is not subscriptable

cannot access

In [54]:
list(s)

[1, 2, 34, 5, 6, 7, 8, 45, 23, 88]

now we can manipulate

In [55]:
dic = {"name" :  "shishir", "Age" : "25", "gender" : "male", "gender" : "male" }
dic

{'name': 'shishir', 'Age': '25', 'gender': 'male'}

Dictionary is key value pair

In [58]:
dic["name"]

'shishir'

In [36]:
dic

{'name': 'shishir', 'Age': '25', 'gender': 'male'}

In [59]:
for i in dic:
    print(dic[i])

shishir
25
male

In [64]:
dic.values()

dict_values(['shishir', '25', 'male'])

In [61]:
dic.keys()

dict_keys(['name', 'Age', 'gender'])

In [60]:
dic

{'name': 'shishir', 'Age': '25', 'gender': 'male'}

In [66]:
dic["Age"]

'25'

In [67]:
dic["address"] = "abcd"

In [68]:
dic

{'name': 'shishir', 'Age': '25', 'gender': 'male', 'address': 'abcd'}

In [72]:
for i in dic:
    print(dic[i])

shishir
25
male
abcd

In [79]:
{i:i**2 for i in range(0,10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

dictionary comprehension

In [80]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [84]:
d["key1"]

{'nestkey': {'subnestkey': 'value'}}

In [85]:
d["key1"]['nestkey']

{'subnestkey': 'value'}

In [86]:
d["key1"]['nestkey']['subnestkey']

'value'

In [108]:
A = [1,2,3,4]
A = A.append(5)
type(A)

NoneType

Incase of capital letter variable assignment is considered as key so overide is not possible

In [109]:
A = [1,2,3,4]
A.append(5)
type(A)

list

In [110]:
A = [1,2,3,4]
a = A.append(5)
type(A)

list